body {
    display: grid;
    min-height: 100vh;
    place-items: center;
  }
  
  .wave {
    animation: wave 1s infinite ease-in-out;
    font-size: 80px;
    transform-origin: bottom right;
  }
  
  @keyframes wave {
    50% {
      transform: rotate(30deg);
    }
  }